.btn {
	padding: 0.4rem 1rem;
	border-radius: 200px;
	color: #fff;
	box-sizing: border-box;
	cursor: pointer;
}

.btn--primary {
	border: none;
	background-color: darkolivegreen;
}

.btn--secondary {
	border: none;
	background-color: rgb(160, 167, 147);
}
