.food-menu__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2%;
	border-bottom: 1px solid darkolivegreen;
	height: 90px;
}

.food-menu__info {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}

.food-menu__action {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-end;
	height: 100%;
}

.course-title {
	font-weight: 600;
	text-transform: capitalize;
}

.course-description {
	font-weight: 300;
	font-style: italic;
}

.course-price {
	font-weight: 600;
	color: red;
}
