.food-menu {
	box-sizing: border-box;
	width: 95%;
	min-height: 500px;
	margin-top: 200px;
	background-color: rgb(242, 242, 242);
	color: rgb(21, 21, 21);
	padding: 1rem;
}

.food-menu__list {
	list-style-type: none;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 700px) {
	.food-menu {
		width: 85%;
	}
}

@media screen and (min-width: 1024px) {
	.food-menu {
		width: 70%;
	}
}
