.header {
	padding: 0 10%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 5rem;
	width: 100%;
	background-color: darkolivegreen;
	color: #fff;
}
