.header {
	padding: 0 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 5rem;
	width: 100%;
	background-color: darkolivegreen;
	color: #fff;
}

.cart-modal {
	background-color: #fff;
	color: #000;
	z-index: 200000;
	padding: 2rem;
}
