.App {
	background-color: rgb(38, 38, 38);
	width: 100%;
	min-height: 100vh;
}

.hero {
	position: relative;
	width: 100%;
	height: 400px;
	background-color: darkorange;
}

.content {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.welcome-card {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -70%);
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(61, 61, 61);
	padding: 1rem;
	color: #fff;
	z-index: 100;
}

@supports (clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%)) {
	.hero {
		clip-path: polygon(0 0, 0 100%, 5% 100%, 100% 80%, 100% 0);
	}
}
